{% extends "../base.html" %}


{% block body %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">Welcome {{ request.user.username }}</h1>
        <div class="ui primary button">Take a Survey</div>
</div>
<div class="ui center aligned basic very padded segment">
    {% if surveys %}
    <h2 class="ui header">Active Surveys List</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <tr>
                <td>{{ survey.title }}</td>
                <td>{{ survey.created_at }}</td>
                <td>
                    {% if survey.is_active %}
                    <a href="{% url 'survey_start' survey.pk %}">
                        <div class="btn btn-success">Take a tour</div>
                    </a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="ui header">Your surveys
        <div class="sub header">There is no Active surveys at this moment. Please wait for assigning new survey.</div>
    </h2>
    {% endif %}
    <h3 style="float:left;">
        <a href="{% url 'customer_panel' %}"><input type="submit" class="btn btn-info" value="User Panel"></a>
    </h3>
    <h3 style="float:right;">
        <a href="{% url 'logout' %}"><input type="submit" class="btn btn-danger" value="Logout"></a>
    </h3>
</div>
{% endblock %}