{% extends "../base.html" %}


{% block body %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">Create a new survey</h1>
    <div class="ui container left aligned">
        <form class="ui form" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Save">
        </form>
        <a href="{% url 'survey_list' %}">
            <div class="btn btn-secondary">Cancel</div>
        </a>
    </div>
    <h3 style="float:right;">
        <a href="{% url 'logout' %}"><input type="submit" class="btn btn-danger" value="Logout"></a>
    </h3>
</div>
{% endblock %}