{% extends "../base.html" %}

{% block body %}

<div class="ui center aligned basic very padded segment">
    <h1 class="ui header dividing">Your response to {{ survey.title }}</h1>
    <h3>
        {% for question in questions %}
            {{ question.title }}
        {% endfor %}
    </h3>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for question, form in question_forms %}
        <div class="ui basic padded segment left aligned">
            <div class="ui form">
                <h4 class="ui header">
                    Question {{ forloop.counter }}: {{ question.title }}
                </h4>
                {% for field in form %}
                <div class="field">
                    {{ field }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="ui primary button">Submit</button>
    </form>

</div>
{% endblock %}