asgiref
dj-database-url
Django
django-cors-headers
django-debug-toolbar
django-environ
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
PyJWT
pytz
sqlparse
tzdata
python-dotenv
pytest-django